# Node
node_modules/

# Secrets
serviceAccountKey.json
serviceAccountKey.json.json
.env
.env.*

# Cloud Functions dependencies only
cloud_functions/node_modules/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# IDE
.idea/
.vscode/

# Android
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/

# Misc
*.log
.DS_Store